exportPattern("^[[:alpha:]]+")

import(aquamapsdata)
import(phyloseq)
import(readr)
import(dbplyr)
import(DBI)
import(stringr)
import(tidyr)
import(sf)
import(RSQLite)
import(utils)
import(rappdirs)
import(ggplot2)
